html,
body {
  margin: 0;
  padding: 0;
  background-color: #4A4E4D; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c35214;
  color: white;
  padding: 20px; }

.header h1 {
  margin: 0; }

.header img {
  border-radius: 50%; }

.header {
  border-bottom: 1px solid #CCCCCC; }

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  color: white;
  font-size: 30px; }

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .buttons button {
    margin: 0 10px; }

button {
  background-color: #c35214;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.main {
  margin-bottom: 50px;
  /* adjust as needed */ }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #999;
  color: #fff;
  text-align: center;
  padding: 10px; }
